TestResult.xml
build
obj
bin
deploy
deploy/*
src/CommonAssemblyInfo.cs
_ReSharper.*
*.user
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
~$*
*.stresult
*.vs10x
.fubu-alias
.fubu-includes
.fubu-manifest

*.userprefs
*.pidb
*.DS_Store
test-results
fubu-content

tools/raven/Data
tools/raven/Data/*
tools/raven/Raven.Server.log*
