body { background-color: #999; }
.container { background: url('../img/bg_gradient.png') repeat-x; margin:0; }
.wrapper { margin: 0 auto; width: 950px; }
.main { background: #fff; min-height:300px; }
header { text-align: center; margin-top:-20px; padding:20px; }
header h1 { color: #23955c; }
header h3 { color: #525252; font-style: italic; }

footer { border-top: 2px solid #666; color: #333; padding: 40px 0 50px; text-shadow: 0 -1px 0 #333; clear:both; }
footer a, footer a:visited { color: #333; text-decoration: none; }
footer a:hover, footer a:active { text-decoration: underline; }
footer .logo { float: left; margin-right:5px; width: 180px; }
footer div.powered-by { font-size:11px; font-style: italic; padding-top:15px; }

input.url { width: 30em; height:1.6em; font-size:16px; padding-left:.25em; padding-right:.3em; }
.main fieldset { text-align: center; }

.grid { width: 100%; margin-top: 2.5em; border: 1px solid #ccc; }
.grid th { text-align:left; padding-left:10px; }
.grid tr td { text-align: left; padding: 5px 5px 5px 10px; }
.grid tr.even td { background:#e5ecf9; }